@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ant-btn.ant-btn-primary.ant-btn-sm {
  background-color: var(--ant-primary-6);
  border-color: var(--ant-primary-6);
}

.ant-btn.ant-btn-primary.ant-btn-sm:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.filter-booking .ant-form-item.ant-form-item-has-success {
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}